# Special (Magic/Dunder) Methods

How to implement **operator overload**

In [1]:
print(1 + 2)
print("hello" + " world")

3
hello world

In [2]:
class Employee:
    num_of_emps = 0
    raise_amount = 1.04
    
    def __init__(self, first, last, pay):
        self._first = first
        self._last = last
        self._pay = pay
        self._email = first + '.' + last + "@weber.edu"
        Employee.num_of_emps += 1
        
    def fullname(self):
        return "{} {}".format(self._first, self._last)
    
    def apply_raise(self):
        self._pay = int(self._pay * self.raise_amount)

In [3]:
emp1 = Employee("Sean", "Penn", 30000)
print(emp1)

<__main__.Employee object at 0x000001F1529B3278>

By defining your own special methods (**dunder methods**), we will be able to shape the behavior to our needs. 

Two of the most common methods are: 
* dunder-repr
* dunder-str

In [4]:
repr(int)

"<class 'int'>"

In [5]:
str(int)

"<class 'int'>"

### What is the difference between str() and repr()?

In [7]:
a = [1, 2, 3, 4]
b = "Sample String   "
print(str(a))
print(repr(a))

print(str(b))
print(repr(b))

[1, 2, 3, 4]
[1, 2, 3, 4]
Sample String
'Sample String   '

* The goal of **dunder-repr** is to be unambiguous (more for  developers)
* The goal of the **dunder-str** is to be readable(more for regular users)

In [10]:
import datetime
a = datetime.datetime(2017, 6, 11, 4, 35, 48, 152345)
b = "2017-06-11 04:35:48.152345"

print(a)
print(b)

2017-06-11 04:35:48.152345
2017-06-11 04:35:48.152345

In [11]:
print(repr(a))
print(repr(b))

datetime.datetime(2017, 6, 11, 4, 35, 48, 152345)
'2017-06-11 04:35:48.152345'

In [12]:
class Employee:
    num_of_emps = 0
    raise_amount = 1.04
    
    def __init__(self, first, last, pay):
        self._first = first
        self._last = last
        self._pay = pay
        self._email = first + '.' + last + "@weber.edu"
        Employee.num_of_emps += 1
        
    def fullname(self):
        return "{} {}".format(self._first, self._last)
    
    def apply_raise(self):
        self._pay = int(self._pay * self.raise_amount)
        
    # Something you can copy/paste back into Python
    # to recreate the object
    def __repr__(self):
        return "Employee('{}', '{}', '{}')".format(
        self._first, self._last, self._pay)

In [13]:
emp1 = Employee("Sean", "Penn", 30000)
print(emp1)

Employee('Sean', 'Penn', '30000')

Now is more readable, and you can recreate the objet

In [14]:
class Employee:
    num_of_emps = 0
    raise_amount = 1.04
    
    def __init__(self, first, last, pay):
        self._first = first
        self._last = last
        self._pay = pay
        self._email = first + '.' + last + "@weber.edu"
        Employee.num_of_emps += 1
        
    def fullname(self):
        return "{} {}".format(self._first, self._last)
    
    def apply_raise(self):
        self._pay = int(self._pay * self.raise_amount)
        
    # Something you can copy/paste back into Python
    # to recreate the object
    def __repr__(self):
        return "Employee('{}', '{}', '{}')".format(
        self._first, self._last, self._pay)
    
    def __str__(self):
        return "{} - {}".format(self.fullname(), self._email)

In [15]:
emp1 = Employee("Sean", "Penn", 30000)
print(emp1)

Sean Penn - Sean.Penn@weber.edu

In [16]:
# You can access them individually
print(repr(emp1))
print(str(emp1))

Employee('Sean', 'Penn', '30000')
Sean Penn - Sean.Penn@weber.edu

### More common magic methods

In [17]:
# Using __add__
print(1 + 2)

3

In [18]:
print(int.__add__(1, 2))
print(str.__add__("a", "b"))

3
ab

In [19]:
class Employee:
    num_of_emps = 0
    raise_amount = 1.04
    
    def __init__(self, first, last, pay):
        self._first = first
        self._last = last
        self._pay = pay
        self._email = first + '.' + last + "@weber.edu"
        Employee.num_of_emps += 1
        
    def fullname(self):
        return "{} {}".format(self._first, self._last)
    
    def apply_raise(self):
        self._pay = int(self._pay * self.raise_amount)
        
    # Something you can copy/paste back into Python
    # to recreate the object
    def __repr__(self):
        return "Employee('{}', '{}', '{}')".format(
        self._first, self._last, self._pay)
    
    def __str__(self):
        return "{} - {}".format(self.fullname(), self._email)
    
    # Return combine salaries
    def __add__(self, other):
        return self._pay + other._pay
    
# test
emp1 = Employee("Juan", "Perez", 50000)
emp2 = Employee("Sean", "Penn", 30000)
print(emp1)
print(emp2)
print(emp1 + emp2)

Juan Perez - Juan.Perez@weber.edu
Sean Penn - Sean.Penn@weber.edu
80000

In [22]:
print(emp1 + emp2)

80000

### The len() built-in

In [23]:
print(len("Weber State"))

11

In [24]:
print("Weber State".__len__())

11

In [26]:
class Employee:
    num_of_emps = 0
    raise_amount = 1.04
    
    def __init__(self, first, last, pay):
        self._first = first
        self._last = last
        self._pay = pay
        self._email = first + '.' + last + "@weber.edu"
        Employee.num_of_emps += 1
        
    def fullname(self):
        return "{} {}".format(self._first, self._last)
    
    def apply_raise(self):
        self._pay = int(self._pay * self.raise_amount)
        
    # Something you can copy/paste back into Python
    # to recreate the object
    def __repr__(self):
        return "Employee('{}', '{}', '{}')".format(
        self._first, self._last, self._pay)
    
    def __str__(self):
        return "{} - {}".format(self.fullname(), self._email)
    
    # Return combine salaries
    def __add__(self, other):
        return self._pay + other._pay
    
    # Return the length of fullname
    def __len__(self):
        return len(self.fullname())
    
# test
emp1 = Employee("Juan", "Perez", 50000)
emp2 = Employee("Sean", "Penn", 30000)
print(len(emp1))
print(len(emp2))
#print(emp1 + emp2)

10
9

Note: the **str()** will call your **dunder-repr** method IF the **dunder-str** is NOT defined, but the reverse is NOT true.

### The special dunder-format format
Invoke by str.format()

Note: see twoPoint.py

### What is this format?
Anything you pass to dunder-format method<cr>
Replacement fields:
* {field_name:format_spec}
* Optional **format specification** after the colon

In [27]:
class Point2D:
    def __init__(self, x, y):
        self._x = x
        self._y = y

    def __str__(self):
        return '({}, {})'.format(self._x, self._y)

    def __repr__(self):
        return "Point2D(x={}, y={})".format(self._x, self._y)

    def __format__(self, format_spec):
        if format_spec == 'r':
            return "{}, {}".format(self._x, self._y)
        else:
            return "{}, {}".format(self._x, self._y)

In [28]:
"{}".format(Point2D(x=1, y=2))

'1, 2'

In [29]:
"{:r}".format(Point2D(x=0, y=3))

'0, 3'

## The ascii(), ord() and chr() Built-in functions

In [30]:
# ASCII
help(ascii)

Help on built-in function ascii in module builtins:

ascii(obj, /)
    Return an ASCII-only representation of an object.

    As repr(), return a string containing a printable representation of an
    object, but escape the non-ASCII characters in the string returned by
    repr() using \\x, \\u or \\U escapes. This generates a string similar
    to that returned by repr() in Python 2.

In [31]:
# ñ -> Alt+164
x = "moño"

In [32]:
type(x)

str

In [33]:
y = ascii(x)
print(y)

'mo\xf1o'

### ord()
The built-in function to covert single characters to its **integer** Unicode codepoint.

In [34]:
# ¾ -> Alt+0190
x = "¾"
print(x)
print(ord(x))

¾
190

### chr()
the built-in function to convert an integer Unicode codepoint to a single character string

In [35]:
x = chr(190)
print(x)

¾

# Numeric and Scalar Types

A standard **integer** in Python have a fixed size, storing only 16, 32, or 64 bits of precision blocks.

In [39]:
from math import factorial
len(str(factorial(1000)))

2568

### Floating Point

An abbreviation of "floating point number" (**float()**). It follows IEEE-754 standard (double-64 bits).
* 1 bit for sign
* 11 bits for exponent
* 52 bits for mantissa, or significand, or fraction

In [42]:
import sys
sys.float_info

sys.float_info(max=1.7976931348623157e+308, max_exp=1024, max_10_exp=308, min=2.2250738585072014e-308, min_exp=-1021, min_10_exp=-307, dig=15, mant_dig=53, epsilon=2.220446049250313e-16, radix=2, rounds=1)

In [45]:
# Most negative float
mnf = -sys.float_info.max
mnf

-1.7976931348623157e+308

In [46]:
# Greater Negative float
gnf = -sys.float_info.min
gnf

-2.2250738585072014e-308

In [47]:
float(10)

10.0

In [48]:
2**53

9007199254740992

In [49]:
float(2**53)

9007199254740992.0

In [50]:
float(2**53 + 1)

9007199254740992.0

In [51]:
float(2**53 + 2)

9007199254740994.0

In [52]:
float(2**53 + 3)

9007199254740996.0

In [53]:
float(2**53 + 4)

9007199254740996.0

### The decimal Module
Contains a class **Decimal**

In [54]:
import decimal
dir(decimal)

['BasicContext',
 'Clamped',
 'Context',
 'ConversionSyntax',
 'Decimal',
 'DecimalException',
 'DecimalTuple',
 'DefaultContext',
 'DivisionByZero',
 'DivisionImpossible',
 'DivisionUndefined',
 'ExtendedContext',
 'FloatOperation',
 'HAVE_THREADS',
 'Inexact',
 'InvalidContext',
 'InvalidOperation',
 'MAX_EMAX',
 'MAX_PREC',
 'MIN_EMIN',
 'MIN_ETINY',
 'Overflow',
 'ROUND_05UP',
 'ROUND_CEILING',
 'ROUND_DOWN',
 'ROUND_FLOOR',
 'ROUND_HALF_DOWN',
 'ROUND_HALF_EVEN',
 'ROUND_HALF_UP',
 'ROUND_UP',
 'Rounded',
 'Subnormal',
 'Underflow',
 '__builtins__',
 '__cached__',
 '__doc__',
 '__file__',
 '__libmpdec_version__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 '__version__',
 'getcontext',
 'localcontext',
 'setcontext']

In [55]:
decimal.getcontext()

Context(prec=28, rounding=ROUND_HALF_EVEN, Emin=-999999, Emax=999999, capitals=1, clamp=0, flags=[], traps=[InvalidOperation, DivisionByZero, Overflow])

In [61]:
# create a Decimal instance
decimal.Decimal(5)

Decimal('5')

In [63]:
from decimal import Decimal
Decimal(7)

Decimal('7')

In [64]:
# Create decimals from floats
Decimal(0.8)

Decimal('0.8000000000000000444089209850062616169452667236328125')

In [65]:
# Use quotes when creatin Decimal instances
Decimal('0.8')

Decimal('0.8')

Construct Decimals from fractional values

In [71]:
Decimal('0.8') - Decimal('0.7')

Decimal('0.1')

In [69]:
Decimal(0.8) - Decimal(0.7)

Decimal('0.1000000000000000888178419700')

Special values of Decimal

In [72]:
Decimal('Infinity')

Decimal('Infinity')

In [73]:
Decimal('-Infinity')

Decimal('-Infinity')

In [74]:
Decimal('NaN')

Decimal('NaN')

Interaction with other numbers

In [75]:
Decimal('1.4') + 0.6

TypeError: unsupported operand type(s) for +: 'decimal.Decimal' and 'float'

### Modulus Operations with Decimal

In [78]:
Decimal(-7) % Decimal(3)

Decimal('-1')

This means that -7 is one less than the next multiple of three towards zero from -7, which is -6

In [79]:
def is_odd(n):
    return n % 2 == 1

In [80]:
# with ints
print(is_odd(2))
print(is_odd(3))
print(is_odd(-2))
print(is_odd(-3))

False
True
False
True

In [81]:
# with floats
print(is_odd(2.0))
print(is_odd(3.0))
print(is_odd(-2.0))
print(is_odd(-3.0))

False
True
False
True

In [82]:
print(is_odd(Decimal(2)))
print(is_odd(Decimal(3)))
print(is_odd(Decimal(-2)))
print(is_odd(Decimal(-3)))

False
True
False
False

This is because -1 not equals +1

In [83]:
def is_odd(n):
    return n % 2 != 0

In [84]:
print(is_odd(Decimal(-3)))

True

### Other Data types:
* The complex(). When dealing with immaginary numbers, use the letter **j**
    They follow the Electrical Engineering style, instead of **i**. For example: **c = 3 + 5j**
* The cmath module, for complex math
* For fraction use the **Fraction** class from the **fractions** module

In [85]:
from fractions import Fraction
Fraction(2, 3) + Fraction(4, 5)

Fraction(22, 15)

In [86]:
Fraction(2, 3) - Fraction(4, 5)

Fraction(-2, 15)

In [87]:
Fraction(2, 3) * Fraction(4, 5)

Fraction(8, 15)

In [88]:
Fraction(2, 3) / Fraction(4, 5)

Fraction(5, 6)

In [89]:
Fraction(2, 3) // Fraction(4, 5)

0

## Dates and Times with datetime module
* date: A Gregorian calendar date
* time: The time within an ideal day, which ignores leap seconds
* datetime: A composite of **date** and **time**
* tzinfo(abstract), timezone(concrete)
* timedelta: duration expressing the difference between two date or datetime instances.

In [90]:
# Dates
import datetime
datetime.date(2014, 1, 6)

datetime.date(2014, 1, 6)

In [91]:
datetime.date(year=2017, month=12, day=20)

datetime.date(2017, 12, 20)

Named Constructors

In [92]:
datetime.date.today()

datetime.date(2017, 12, 20)

In [93]:
# Create a timestamp from a POSIX timestamp
datetime.date.fromtimestamp(100000000)

datetime.date(1973, 3, 3)

In [95]:
# from ordinal which accepts an integer number of days starting
#with one on 1st January in year one. Assuming Gregorian calendar
datetime.date.fromordinal(720669)

datetime.date(1974, 2, 15)

In [96]:
d = datetime.date.today()
d.year

2017

In [97]:
d.month

12

In [98]:
d.day

20

In [99]:
d.weekday()

2

## Times
Use to represent a time wihing an unspecified day with optinal time zone.

In [100]:
datetime.time(3)

datetime.time(3, 0)

In [101]:
# hour and min
datetime.time(3, 1)

datetime.time(3, 1)

In [102]:
# hour, min, secs
datetime.time(3, 1, 2)

datetime.time(3, 1, 2)

In [106]:
# hour, min, sec, milisec
t = datetime.time(hour=3, minute=1, second=3, microsecond=234)
print(t.hour)
print(t.minute)
print(t.second)
print(t.microsecond)

3
1
3
234

# Iterables and Iteration

## Comprehensions
Short hand syntax for creating collections and iterable objects. Types of comprehensions: 
* list comprehensions
* set comprehensions
* dict comprehensions
* Generator comprehensions

## List comprehesions
General Form:<cr>
**[expr(item) for item in iterable]**

In [107]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [109]:
# use a comprehension
l = [i*2 for i in range(10)]
print(type(l))
print(l)

<class 'list'>
[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

## Set Comprehensions
General form:<cr>
**{expr(item) for item in iterable}**

In [111]:
s = {i for i in range(10)}
print(type(s))
print(s)

<class 'set'>
{0, 1, 2, 3, 4, 5, 6, 7, 8, 9}

## Dictionary Comprehensions
General Form:<cr>
{key_expr:value_expr for item in iterable}

In [112]:
d = {i: i*2 for i in range(10)}
print(type(d))
print(d)

<class 'dict'>
{0: 0, 1: 2, 2: 4, 3: 6, 4: 8, 5: 10, 6: 12, 7: 14, 8: 16, 9: 18}

## Generator Comprehensions
General form: **(item for item in iterable)**

Generators return an object on which you can call the **next** function, such that for every call it returns some value, until it raises the **StopIteration** exception, signaling that all values have been generated. 

Such objet is called an **iterator**

Normal function return values using **return**. In Python, you can use the **yield**. Using **yield** anywhere in your function makes it a **generator**

In [113]:
g = (i for i in range(10))
print(type(g))
print(g)

<class 'generator'>
<generator object <genexpr> at 0x000001F1535072B0>

In [115]:
i = range(1)
i

range(0, 1)

In [117]:
#help(range)

## Multiple if-clauses
Comprehensions can use multiple input sequences and multiple if-clauses

In [118]:
# This comprehension uses two input ranges to create a set of points
# on a 5 * 5 grid. 
[(x, y) for x in range(5) for y in range(3)]

[(0, 0),
 (0, 1),
 (0, 2),
 (1, 0),
 (1, 1),
 (1, 2),
 (2, 0),
 (2, 1),
 (2, 2),
 (3, 0),
 (3, 1),
 (3, 2),
 (4, 0),
 (4, 1),
 (4, 2)]

In [120]:
points = []
for x in range(5):
    for y in range(3):
        points.append((x, y))
points

[(0, 0),
 (0, 1),
 (0, 2),
 (1, 0),
 (1, 1),
 (1, 2),
 (2, 0),
 (2, 1),
 (2, 2),
 (3, 0),
 (3, 1),
 (3, 2),
 (4, 0),
 (4, 1),
 (4, 2)]

### Benefits of Comprehensions
* Container populated atomically
* Allows Python to optimized creation
* More readable

In [123]:
# Version 1
values = [x / (x-y) 
          for x in range(100) 
          if x > 50 
          for y in range(100) 
          if x - y !=0]
#values

In [124]:
# Equivalent with loops:
values = []
for x in range(100):
    if x > 50:
        for y in range(100):
            if x - y != 0:
                values.append(x / (x - y))

In [128]:
from pprint import pprint as pp
# Another example: Create a triangle coordinates.
# Here the second for-clause, which binds to the variable y
# referst to the x variable defined. 

# tradicional way: 
result = []
for x in range(10):
    for y in range(x):
        result.append((x, y))
print(result)

# Now comprehension
result2 = [(x, y) for x in range(10) for y in range(x)]
print(result2)

[(1, 0), (2, 0), (2, 1), (3, 0), (3, 1), (3, 2), (4, 0), (4, 1), (4, 2), (4, 3), (5, 0), (5, 1), (5, 2), (5, 3), (5, 4), (6, 0), (6, 1), (6, 2), (6, 3), (6, 4), (6, 5), (7, 0), (7, 1), (7, 2), (7, 3), (7, 4), (7, 5), (7, 6), (8, 0), (8, 1), (8, 2), (8, 3), (8, 4), (8, 5), (8, 6), (8, 7), (9, 0), (9, 1), (9, 2), (9, 3), (9, 4), (9, 5), (9, 6), (9, 7), (9, 8)]
[(1, 0), (2, 0), (2, 1), (3, 0), (3, 1), (3, 2), (4, 0), (4, 1), (4, 2), (4, 3), (5, 0), (5, 1), (5, 2), (5, 3), (5, 4), (6, 0), (6, 1), (6, 2), (6, 3), (6, 4), (6, 5), (7, 0), (7, 1), (7, 2), (7, 3), (7, 4), (7, 5), (7, 6), (8, 0), (8, 1), (8, 2), (8, 3), (8, 4), (8, 5), (8, 6), (8, 7), (9, 0), (9, 1), (9, 2), (9, 3), (9, 4), (9, 5), (9, 6), (9, 7), (9, 8)]

## Nested Comprehension. 

Comprehensions can be **nested** inside other comprehesions

In [130]:
# regular way
outer = []
for x in range(10):
    inner = []
    for y in range(x):
        inner.append(y * 3)
    outer.append(inner)
    
outer

[[],
 [0],
 [0, 3],
 [0, 3, 6],
 [0, 3, 6, 9],
 [0, 3, 6, 9, 12],
 [0, 3, 6, 9, 12, 15],
 [0, 3, 6, 9, 12, 15, 18],
 [0, 3, 6, 9, 12, 15, 18, 21],
 [0, 3, 6, 9, 12, 15, 18, 21, 24]]

In [131]:
# Comprehension
vals = [[y*3 for y in range(x)] for x in range(10)]
vals

[[],
 [0],
 [0, 3],
 [0, 3, 6],
 [0, 3, 6, 9],
 [0, 3, 6, 9, 12],
 [0, 3, 6, 9, 12, 15],
 [0, 3, 6, 9, 12, 15, 18],
 [0, 3, 6, 9, 12, 15, 18, 21],
 [0, 3, 6, 9, 12, 15, 18, 21, 24]]

## The map() function
It is probably one of the most widely recognized functional programming tools in Python. 

Apply a function to every element in a sequence, producing a new sequence containing the return values fo the function. In other words, you can map a function over a sequence to produce a new sequence.

In [132]:
map(ord, "The purple Weber State")

Map is *lazy* it only produces values as they are **needed**. It produces an iterator object, so until you begin iterating over it, it starts producing the output

In [133]:
result = map(ord, "The purple Weber State")

In [134]:
next(result)

84

In [135]:
next(result)

104

In [136]:
next(result)

101

In [138]:
print(list(map(ord, "The purple Weber State")))

[84, 104, 101, 32, 112, 117, 114, 112, 108, 101, 32, 87, 101, 98, 101, 114, 32, 83, 116, 97, 116, 101]

## Multiple Input Sequences
**map()** can accept **any number** of input sequences. If the function you passed to map requires two arguments, you provide two input sequences. 

The number of input sequences MUST match the number of function arguments

In [140]:

# ex
sizes = ["small", "medium", "large"]
colors = ["red", "blue", "green", "purlple"]
animals = ["horse", "cow", "chicken"]

def combine(size, color, animal):
    return "{0} {1} {2}".format(size, color, animal)

# Create a list from map
list(map(combine, sizes, colors, animals))

['small red horse', 'medium blue cow', 'large green chicken']

Let's modify the example to take a **quantity** argument

In [141]:
import itertools
# ex
sizes = ["small", "medium", "large"]
colors = ["red", "blue", "green", "purlple"]
animals = ["horse", "cow", "chicken"]

def combine(quantity, size, color, animal):
    return "{0} x {1} {2} {3}".format(quantity, size, color, animal)


# If you pass an infinite series, it will stop as soon
# as one series terminates
list(map(combine, itertools.count(), sizes, colors, animals))

['0 x small red horse', '1 x medium blue cow', '2 x large green chicken']

## Use map() versus Comprehension?

In [142]:
[str(i) for i in range(5)]

['0', '1', '2', '3', '4']

In [143]:
list(map(str, range(5)))

['0', '1', '2', '3', '4']

Same with generators and map()

In [144]:
i = (str(i) for i in range(5))
list(i)

['0', '1', '2', '3', '4']

In [145]:
i = map(str, range(5))
list(i)

['0', '1', '2', '3', '4']

## The filter() Function

Applies a function to each element in a sequence, construction a new sequence with the elements for whcih the function returns **True**

Like map, filter applies the function to each element of the sequence and produces the result in **lazy** mode. 

Unlike map, it only accepts one input.

In [146]:
positives = filter(lambda x: x > 0, [-2, 3, 6, -22, 99, 0])
positives

In [147]:
list(positives)

[3, 6, 99]

Passing **None** as the first argument to **filter()** will remove elements which evalute to **False**

In [148]:
t = filter(None, [0, 1, False, True, [], [1, 2,3], "", "Hello"])
list(t)

[1, True, [1, 2, 3], 'Hello']

## The functools.reduce() function
Repeatedly apply a function to the elements of a sequence, reducing them to a single value. Similar to: 
* Functional programming **fold**
* C++ **std::accumulate()**

In [151]:
# The sumation sequence
from functools import reduce
import operator 
#dir(operator)

# a + b is equivalent to operator.add(a, b)
reduce(operator.add, [1, 2, 3, 4, 5])

15

In [152]:
# Conceptually
numbers = [1, 2, 3, 4, 5]
accumulator = operator.add(numbers[0], numbers[1])
for item in numbers[2:]:
    accumulator = operator.add(accumulator, item)
    
accumulator

15

In [153]:
# tradicional way
def mul(x, y):
    print("mul {} {}".format (x, y))
    return x*y

In [154]:
# now apply this function to 1-10
reduce(mul, range(1, 11))

mul 1 2
mul 2 3
mul 6 4
mul 24 5
mul 120 6
mul 720 7
mul 5040 8
mul 40320 9
mul 362880 10

3628800

In [155]:
# It will fail with empty list
reduce(mul, [])

TypeError: reduce() of empty sequence with no initial value

In [160]:
# Supports optional initial value
# For addition always begin with 0
values = [1, 2, 3, 4, 5]
reduce(operator.add, values, 0)

15

In [161]:
# With mutliplication begin with 1
reduce(operator.mul, values, 1)

120