# Special (Magic/Dunder) Methods

How to implement **operator overload**

In [1]:
print(1 + 2)
print("hello" + " world")

3
hello world

In [2]:
class Employee:
    num_of_emps = 0
    raise_amount = 1.04
    
    def __init__(self, first, last, pay):
        self._first = first
        self._last = last
        self._pay = pay
        self._email = first + '.' + last + "@weber.edu"
        Employee.num_of_emps += 1
        
    def fullname(self):
        return "{} {}".format(self._first, self._last)
    
    def apply_raise(self):
        self._pay = int(self._pay * self.raise_amount)

In [3]:
emp1 = Employee("Sean", "Penn", 30000)
print(emp1)

<__main__.Employee object at 0x000001F1529B3278>

By defining your own special methods (**dunder methods**), we will be able to shape the behavior to our needs. 

Two of the most common methods are: 
* dunder-repr
* dunder-str

In [4]:
repr(int)

"<class 'int'>"

In [5]:
str(int)

"<class 'int'>"

### What is the difference between str() and repr()?

In [7]:
a = [1, 2, 3, 4]
b = "Sample String   "
print(str(a))
print(repr(a))

print(str(b))
print(repr(b))

[1, 2, 3, 4]
[1, 2, 3, 4]
Sample String
'Sample String   '

* The goal of **dunder-repr** is to be unambiguous (more for  developers)
* The goal of the **dunder-str** is to be readable(more for regular users)

In [10]:
import datetime
a = datetime.datetime(2017, 6, 11, 4, 35, 48, 152345)
b = "2017-06-11 04:35:48.152345"

print(a)
print(b)

2017-06-11 04:35:48.152345
2017-06-11 04:35:48.152345

In [11]:
print(repr(a))
print(repr(b))

datetime.datetime(2017, 6, 11, 4, 35, 48, 152345)
'2017-06-11 04:35:48.152345'

In [12]:
class Employee:
    num_of_emps = 0
    raise_amount = 1.04
    
    def __init__(self, first, last, pay):
        self._first = first
        self._last = last
        self._pay = pay
        self._email = first + '.' + last + "@weber.edu"
        Employee.num_of_emps += 1
        
    def fullname(self):
        return "{} {}".format(self._first, self._last)
    
    def apply_raise(self):
        self._pay = int(self._pay * self.raise_amount)
        
    # Something you can copy/paste back into Python
    # to recreate the object
    def __repr__(self):
        return "Employee('{}', '{}', '{}')".format(
        self._first, self._last, self._pay)

In [13]:
emp1 = Employee("Sean", "Penn", 30000)
print(emp1)

Employee('Sean', 'Penn', '30000')

Now is more readable, and you can recreate the objet

In [14]:
class Employee:
    num_of_emps = 0
    raise_amount = 1.04
    
    def __init__(self, first, last, pay):
        self._first = first
        self._last = last
        self._pay = pay
        self._email = first + '.' + last + "@weber.edu"
        Employee.num_of_emps += 1
        
    def fullname(self):
        return "{} {}".format(self._first, self._last)
    
    def apply_raise(self):
        self._pay = int(self._pay * self.raise_amount)
        
    # Something you can copy/paste back into Python
    # to recreate the object
    def __repr__(self):
        return "Employee('{}', '{}', '{}')".format(
        self._first, self._last, self._pay)
    
    def __str__(self):
        return "{} - {}".format(self.fullname(), self._email)

In [15]:
emp1 = Employee("Sean", "Penn", 30000)
print(emp1)

Sean Penn - Sean.Penn@weber.edu

In [16]:
# You can access them individually
print(repr(emp1))
print(str(emp1))

Employee('Sean', 'Penn', '30000')
Sean Penn - Sean.Penn@weber.edu

### More common magic methods

In [17]:
# Using __add__
print(1 + 2)

3

In [18]:
print(int.__add__(1, 2))
print(str.__add__("a", "b"))

3
ab

In [19]:
class Employee:
    num_of_emps = 0
    raise_amount = 1.04
    
    def __init__(self, first, last, pay):
        self._first = first
        self._last = last
        self._pay = pay
        self._email = first + '.' + last + "@weber.edu"
        Employee.num_of_emps += 1
        
    def fullname(self):
        return "{} {}".format(self._first, self._last)
    
    def apply_raise(self):
        self._pay = int(self._pay * self.raise_amount)
        
    # Something you can copy/paste back into Python
    # to recreate the object
    def __repr__(self):
        return "Employee('{}', '{}', '{}')".format(
        self._first, self._last, self._pay)
    
    def __str__(self):
        return "{} - {}".format(self.fullname(), self._email)
    
    # Return combine salaries
    def __add__(self, other):
        return self._pay + other._pay
    
# test
emp1 = Employee("Juan", "Perez", 50000)
emp2 = Employee("Sean", "Penn", 30000)
print(emp1)
print(emp2)
print(emp1 + emp2)

Juan Perez - Juan.Perez@weber.edu
Sean Penn - Sean.Penn@weber.edu
80000

In [22]:
print(emp1 + emp2)

80000

### The len() built-in

In [23]:
print(len("Weber State"))

11

In [24]:
print("Weber State".__len__())

11

In [26]:
class Employee:
    num_of_emps = 0
    raise_amount = 1.04
    
    def __init__(self, first, last, pay):
        self._first = first
        self._last = last
        self._pay = pay
        self._email = first + '.' + last + "@weber.edu"
        Employee.num_of_emps += 1
        
    def fullname(self):
        return "{} {}".format(self._first, self._last)
    
    def apply_raise(self):
        self._pay = int(self._pay * self.raise_amount)
        
    # Something you can copy/paste back into Python
    # to recreate the object
    def __repr__(self):
        return "Employee('{}', '{}', '{}')".format(
        self._first, self._last, self._pay)
    
    def __str__(self):
        return "{} - {}".format(self.fullname(), self._email)
    
    # Return combine salaries
    def __add__(self, other):
        return self._pay + other._pay
    
    # Return the length of fullname
    def __len__(self):
        return len(self.fullname())
    
# test
emp1 = Employee("Juan", "Perez", 50000)
emp2 = Employee("Sean", "Penn", 30000)
print(len(emp1))
print(len(emp2))
#print(emp1 + emp2)

10
9

Note: the **str()** will call your **dunder-repr** method IF the **dunder-str** is NOT defined, but the reverse is NOT true.

### The special dunder-format format
Invoke by str.format()

Note: see twoPoint.py

### What is this format?
Anything you pass to dunder-format method<cr>
Replacement fields:
* {field_name:format_spec}
* Optional **format specification** after the colon

In [27]:
class Point2D:
    def __init__(self, x, y):
        self._x = x
        self._y = y

    def __str__(self):
        return '({}, {})'.format(self._x, self._y)

    def __repr__(self):
        return "Point2D(x={}, y={})".format(self._x, self._y)

    def __format__(self, format_spec):
        if format_spec == 'r':
            return "{}, {}".format(self._x, self._y)
        else:
            return "{}, {}".format(self._x, self._y)

In [28]:
"{}".format(Point2D(x=1, y=2))

'1, 2'

In [29]:
"{:r}".format(Point2D(x=0, y=3))

'0, 3'

## The ascii(), ord() and chr() Built-in functions

In [30]:
# ASCII
help(ascii)

Help on built-in function ascii in module builtins:

ascii(obj, /)
    Return an ASCII-only representation of an object.

    As repr(), return a string containing a printable representation of an
    object, but escape the non-ASCII characters in the string returned by
    repr() using \\x, \\u or \\U escapes. This generates a string similar
    to that returned by repr() in Python 2.

In [31]:
# ñ -> Alt+164
x = "moño"

In [32]:
type(x)

str

In [33]:
y = ascii(x)
print(y)

'mo\xf1o'

### ord()
The built-in function to covert single characters to its **integer** Unicode codepoint.

In [34]:
# ¾ -> Alt+0190
x = "¾"
print(x)
print(ord(x))

¾
190

### chr()
the built-in function to convert an integer Unicode codepoint to a single character string

In [35]:
x = chr(190)
print(x)

¾

# Numeric and Scalar Types

A standard **integer** in Python have a fixed size, storing only 16, 32, or 64 bits of precision blocks.

In [39]:
from math import factorial
len(str(factorial(1000)))

2568

### Floating Point

An abbreviation of "floating point number" (**float()**). It follows IEEE-754 standard (double-64 bits).
* 1 bit for sign
* 11 bits for exponent
* 52 bits for mantissa, or significand, or fraction

In [42]:
import sys
sys.float_info

sys.float_info(max=1.7976931348623157e+308, max_exp=1024, max_10_exp=308, min=2.2250738585072014e-308, min_exp=-1021, min_10_exp=-307, dig=15, mant_dig=53, epsilon=2.220446049250313e-16, radix=2, rounds=1)

In [45]:
# Most negative float
mnf = -sys.float_info.max
mnf

-1.7976931348623157e+308

In [46]:
# Greater Negative float
gnf = -sys.float_info.min
gnf

-2.2250738585072014e-308

In [47]:
float(10)

10.0

In [48]:
2**53

9007199254740992

In [49]:
float(2**53)

9007199254740992.0

In [50]:
float(2**53 + 1)

9007199254740992.0

In [51]:
float(2**53 + 2)

9007199254740994.0

In [52]:
float(2**53 + 3)

9007199254740996.0

In [53]:
float(2**53 + 4)

9007199254740996.0

### The decimal Module
Contains a class **Decimal**

In [54]:
import decimal
dir(decimal)

['BasicContext',
 'Clamped',
 'Context',
 'ConversionSyntax',
 'Decimal',
 'DecimalException',
 'DecimalTuple',
 'DefaultContext',
 'DivisionByZero',
 'DivisionImpossible',
 'DivisionUndefined',
 'ExtendedContext',
 'FloatOperation',
 'HAVE_THREADS',
 'Inexact',
 'InvalidContext',
 'InvalidOperation',
 'MAX_EMAX',
 'MAX_PREC',
 'MIN_EMIN',
 'MIN_ETINY',
 'Overflow',
 'ROUND_05UP',
 'ROUND_CEILING',
 'ROUND_DOWN',
 'ROUND_FLOOR',
 'ROUND_HALF_DOWN',
 'ROUND_HALF_EVEN',
 'ROUND_HALF_UP',
 'ROUND_UP',
 'Rounded',
 'Subnormal',
 'Underflow',
 '__builtins__',
 '__cached__',
 '__doc__',
 '__file__',
 '__libmpdec_version__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 '__version__',
 'getcontext',
 'localcontext',
 'setcontext']

In [55]:
decimal.getcontext()

Context(prec=28, rounding=ROUND_HALF_EVEN, Emin=-999999, Emax=999999, capitals=1, clamp=0, flags=[], traps=[InvalidOperation, DivisionByZero, Overflow])

In [61]:
# create a Decimal instance
decimal.Decimal(5)

Decimal('5')

In [63]:
from decimal import Decimal
Decimal(7)

Decimal('7')

In [64]:
# Create decimals from floats
Decimal(0.8)

Decimal('0.8000000000000000444089209850062616169452667236328125')

In [65]:
# Use quotes when creatin Decimal instances
Decimal('0.8')

Decimal('0.8')

Construct Decimals from fractional values

In [71]:
Decimal('0.8') - Decimal('0.7')

Decimal('0.1')

In [69]:
Decimal(0.8) - Decimal(0.7)

Decimal('0.1000000000000000888178419700')

Special values of Decimal

In [72]:
Decimal('Infinity')

Decimal('Infinity')

In [73]:
Decimal('-Infinity')

Decimal('-Infinity')

In [74]:
Decimal('NaN')

Decimal('NaN')

Interaction with other numbers

In [75]:
Decimal('1.4') + 0.6

TypeError: unsupported operand type(s) for +: 'decimal.Decimal' and 'float'

### Modulus Operations with Decimal

In [78]:
Decimal(-7) % Decimal(3)

Decimal('-1')

This means that -7 is one less than the next multiple of three towards zero from -7, which is -6

In [79]:
def is_odd(n):
    return n % 2 == 1

In [80]:
# with ints
print(is_odd(2))
print(is_odd(3))
print(is_odd(-2))
print(is_odd(-3))

False
True
False
True

In [81]:
# with floats
print(is_odd(2.0))
print(is_odd(3.0))
print(is_odd(-2.0))
print(is_odd(-3.0))

False
True
False
True

In [82]:
print(is_odd(Decimal(2)))
print(is_odd(Decimal(3)))
print(is_odd(Decimal(-2)))
print(is_odd(Decimal(-3)))

False
True
False
False

This is because -1 not equals +1

In [83]:
def is_odd(n):
    return n % 2 != 0

In [84]:
print(is_odd(Decimal(-3)))

True

### Other Data types:
* The complex(). When dealing with immaginary numbers, use the letter **j**
    They follow the Electrical Engineering style, instead of **i**. For example: **c = 3 + 5j**
* The cmath module, for complex math
* For fraction use the **Fraction** class from the **fractions** module

In [85]:
from fractions import Fraction
Fraction(2, 3) + Fraction(4, 5)

Fraction(22, 15)

In [86]:
Fraction(2, 3) - Fraction(4, 5)

Fraction(-2, 15)

In [87]:
Fraction(2, 3) * Fraction(4, 5)

Fraction(8, 15)

In [88]:
Fraction(2, 3) / Fraction(4, 5)

Fraction(5, 6)

In [89]:
Fraction(2, 3) // Fraction(4, 5)

0

## Dates and Times with datetime module
* date: A Gregorian calendar date
* time: The time within an ideal day, which ignores leap seconds
* datetime: A composite of **date** and **time**
* tzinfo(abstract), timezone(concrete)
* timedelta: duration expressing the difference between two date or datetime instances.

In [90]:
# Dates
import datetime
datetime.date(2014, 1, 6)

datetime.date(2014, 1, 6)

In [91]:
datetime.date(year=2017, month=12, day=20)

datetime.date(2017, 12, 20)

Named Constructors

In [92]:
datetime.date.today()

datetime.date(2017, 12, 20)

In [93]:
# Create a timestamp from a POSIX timestamp
datetime.date.fromtimestamp(100000000)

datetime.date(1973, 3, 3)

In [95]:
# from ordinal which accepts an integer number of days starting
#with one on 1st January in year one. Assuming Gregorian calendar
datetime.date.fromordinal(720669)

datetime.date(1974, 2, 15)

In [96]:
d = datetime.date.today()
d.year

2017

In [97]:
d.month

12

In [98]:
d.day

20

In [99]:
d.weekday()

2

## Times
Use to represent a time wihing an unspecified day with optinal time zone.

In [100]:
datetime.time(3)

datetime.time(3, 0)

In [101]:
# hour and min
datetime.time(3, 1)

datetime.time(3, 1)

In [102]:
# hour, min, secs
datetime.time(3, 1, 2)

datetime.time(3, 1, 2)

In [106]:
# hour, min, sec, milisec
t = datetime.time(hour=3, minute=1, second=3, microsecond=234)
print(t.hour)
print(t.minute)
print(t.second)
print(t.microsecond)

3
1
3
234